.nav {
    list-style: none;
    font-size: 1.3em;

    display: flex !important;
    margin: 0;
    padding: 12px 0;
}

.nav a {
    border: none;
}

.nav a:hover {
    background: none;
    color: #999;
}

.home .nav {
    margin: 50px;
}

.nav li {
    padding: 0 10px;
    display: flex !important;
    align-items: flex-end;
}

.nav li a {
    display: flex !important;
    align-items: flex-end;
    padding: 0 10px;
}

.nav .title {
    margin: 0;
    font-weight: bold;
    color: black;
}

.nav .isotype {
    position: relative;
    height: 40px;
    top: -5px;
    padding: 0 10px;
}
