a {
	text-decoration: none;
	color:black;
}

a.disabled {
   pointer-events: none;
   cursor: default;
}

img.disabled {
	opacity:0.5;
}

a.preview {
   pointer-events: none;
   cursor: default;
}


.container-proyectos {
	display: flex;
	flex-direction:column;
}

.title-container {
	text-align: center;
}

.services-container {
	display:flex;
	justify-content: space-around;
}