/*Project-Data*/
* {
	color:black;
}

.project-data {
	padding: 2% 5%;
}

/*Input*/
 
.wrapper {
	position: relative;
}

i {
	position: absolute;
	top: 10px;
	left: 24px;
	color: #B2B2B2;
}

input {
	border: 1px solid #B2B2B2;
	font-size:18px;
	height: 100%;
	width:100%;
	padding: 1% 4%;
}

input::placeholder {
	color: #B2B2B2;
	font-weight: normal;
	font-size: 120%;
}

/*Lista de proyectos*/

.project-index {
	margin-top: 3%;
}

.project-row {
	padding: 5px 0;
}

.link-container {
	padding-top:1%;
}

.link-services {
	font-size: 17px;
}

/*Icon*/

a {
	text-decoration: none;
	color:black;
}

a.disabled {
   pointer-events: none;
   cursor: default;
}

img.disabled {
	opacity:0.5;
}

a.preview {
   pointer-events: none;
   cursor: default;
   padding: 0 1%;
}

/*Ficha de proyecto*/

hr#separator {
	border-top: 1px solid #00A6D7;
}

.services {
	padding: 2%;
	font-size: 1.25em;
}

.code-row {
	padding: 2% 0;
}

p.categories {
	padding-top: 5%;
	font-weight: bold;
	font-size: 1.3em;
}

p.access {
	font-weight: bold;
	padding-top:2%;
}


p.disabled {
	color: #808594;
}

.description {
	padding: 2%;
	font-size: 130%;
	text-align: justify;
	font-family: 'Martel';
    font-size: 1.25em;
    font-weight: 100;
}

.docs {
	padding: 0 3%;
	font-weight: bold;
	font-size: 1.25em;
}
